.table-separator {
  padding-right: 32px;
}

.cell-ami {
  margin-right: 32px;
}

caption {
  caption-side: bottom;
  padding: 8px;
  margin-left: 92px;
}

table {
  text-align: center;
  width: 512px;
}

.table-side {
  width: 92px;
}